osb/SBProcessPurchaseOrderApplication/SBProcessPurchaseOrder/XSD/ProcessPurchaseOrderOSB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/ProcessPurchaseOrder/ProcessPurchaseOrderSync/ProcessPurchaseOrderSync"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="process">
    <complexType>
      <sequence>
        <element name="OrderNumber" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="processResp">
    <complexType>
      <sequence>
        <element name="OldOrderNumber" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>